
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

 
.work-sans-font{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.display-flex{
    display: flex;
}

/* .text-primary{
    color: #FF900E;
} */

/* drak 02 */
.text-gray{
    color: #424242;
}
/* drak 03 */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: #D9D9D9;
}
.btn-primary{
    background-color: #FF900E;
    padding: 20px 25px;
    border: none;
    font-size: 1.5rem;
    border-radius: 10px;
    color: white;
}

.main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 120px;
}

.section-title{
    font-size: 2rem;
    font-weight: 700;
}

/* header style */

/* navbar related style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight:  700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}

/* team and features related style */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    margin-left: 130px;
    max-width: 530px;
}
/* badge */
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 600;
}

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
}

.fact-description{
    max-width: 540px;
}

/* sponsor related style */

.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}

@media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams{
        flex-direction: column;
    }
    .team-img-container, 
    .facts-container,
    .sponsor-companies{
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 24px;
    }
    .sponsor-companies{
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }
    /* .facts-container{
        justify-items: center;
    } */
    .our-features{
        margin-left: 20px auto;
    }
    #experience-badge{
        margin-left: 0px;
    }
}
